{% extends "taxons.html" %}
{% block display %}
<div class="container-fluid">
  <div class="row">
    <p>Scientific name: {{ summary['taxon'] }}</p>
    <p>Common name(s): {{ ','.join(summary['cnames']) }}</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="activities-chart">
        <script> c3.generate({{ summary['acts']|tojson|safe }}) </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="superactivities-chart">
        <script> c3.generate({{ summary['sup_acts']|tojson|safe }}) </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="ethno-chart">
        <script> c3.generate({{ summary['ethnobot']|tojson|safe }}) </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="countries-chart">
        <script> c3.generate({{ summary['countries']|tojson|safe }}) </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
