{% extends "taxons.html" %}
{% block display %}
<div class="container-fluid">
  <div class="row">
    <p>Scientific name: Origanum vulgare var. gracile</p>
    <p>Common name(s): {{ summary['cnames'] }}</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="activities-chart">
        <script> c3.generate({{ summary['acts']|tojson|safe }}) </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="superactivities-chart">
        <script> c3.generate({{ summary['sup_acts']|tojson|safe }}) </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="ethno-chart">
      </div>
    </div>
    <div class="col-md-6">
      <div id="countries-chart">
      </div>
    </div>
  </div>
</div>
{% endblock %}
