{% extends "base.html" %}
{% block content %}
<div class="col-md-2">
  <div class="list-group">
    {% for family in families %}
    <a href="/family/{{ family[0] }}/" class="list-group-item">{{ family[0] }}
      <span class="badge">{{ family[1] }}</span>
    </a>
    {% endfor %}
  </div>
</div>
<div class="col-md-2">
  <div class="list-group">
    {% for genus in genera %}
    <a href="/family/{{ f }}/{{ genus[0] }}/" class="list-group-item">
      {{ genus[0] }}
      <span class="badge">{{ genus[1] }}</span>
    </a>
    {% endfor %}
  </div>
</div>
<div class="col-md-8">
</div>
{% endblock %}
